In [1]:
import pandas as pd
import numpy as np
from scipy.io import loadmat
from __future__ import division
import matplotlib.pyplot as plt
%matplotlib inline
import pickle

In [2]:
data = loadmat('rato10tudo.mat')

In [5]:
data.keys()

dict_keys(['__globals__', '__header__', 'dados', '__version__'])

In [39]:
behavior = data['dados'][0,0][0]

In [159]:
behavior = pd.DataFrame(np.transpose(behavior[0,0][0]))

In [263]:
spikes = data['dados'][0,0][1]

In [264]:
spikes = pd.DataFrame([[ spikes[0,i][0][:,0], spikes[0,i][0][:,1]] for i in range(96) if spikes[0,i][0].shape[1]==2], columns=['times','trial'])

In [265]:
spikes[33:37]

,times,trial
33,"[116.204789877, 116.229038, 116.241080284, 116...","[2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, ..."
34,"[105.395445824, 105.670123577, 105.678766012, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
35,"[116.241080284, 116.249395132, 116.252958775, ...","[2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, ..."
36,"[105.421414375, 105.617653847, 105.670041561, ...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 2.0, ..."

In [241]:
spikes[0,35][0]

array([], shape=(0, 1), dtype=uint8)